.background-image {
    background-image: url("../pages/logo.JPG"); /* Set the background image */
    background-size: cover; /* Scale the image to cover the container */
    background-position: center; /* Center the image within the container */
    display: flex; /* Use flexbox to align content */
    flex-direction: column; /* Arrange content vertically */
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    height: 100%; /* Make the container fill the component's height */
    
  }
  