.home {
  background-color: #f7f7f7;
  padding: 20px;
}

.home h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.home p {
  font-size: 18px;
  color: #555;
  line-height: 1.5;
  margin-bottom: 15px;
}


.home .cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #61dafb;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.home .cta-button:hover {
  background-color: #45b9d4;
}

.background-image {
  background-image: url("../pages/logo.JPG");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.head {
  padding-top: 1.5cm;
}

.columns {
  column-count: 2;
  column-gap: 15px;
  break-inside: void;
}

.button button {
  background-color: #4caf50;
  display: inline-block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 5px;
  color: whitesmoke;
}

.button:hover {
  background-color: #4caf50;
}

.ContactForms form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(36, 34, 34, 0.1);
}

@media (max-width: 768px) {
  /* Adjustments for smaller screen sizes */

  .home h1 {
    font-size: 24px;
    text-align: left;
  }

  .home p {
    font-size: 16px;
  }

  .columns {
    column-count: 1;
    column-gap: 0;
  }

  .ContactForms form {
    max-width: 100%;
    padding: 10px;
  }
}
img {
  width: 50%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

