.Navbar {
  background-color: #333;
  color: #fff;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.Link {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  padding: 60px;
}

.Link:hover {
  color: #61dafb;
}

.Navbar ul {
  display: flex;
  justify-content: space-between;
}

.Navbar li {
  list-style-type: none;
}

.Navbar .Logo {
  font-weight: bold;
  font-size: 24px;
  padding-left: 100px;
}

@media (max-width: 768px) {
  /* Adjustments for smaller screen sizes */

  .Navbar {
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
  }

  .Link {
    padding: 10px;
    margin: 5px;
  }

  .Navbar .Logo {
    padding-left: 10px;
    margin-bottom: 10px;
  }
}
